*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 255, 163);
}

.mainContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.animContainer{
    width: 370px;
    height: 370px;
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 400px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer{
    width: 400px;
    height: fit-content;
    /* flex: 1; */
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    padding: 20px;
    /* animation-name: textshow;
    animation-duration: 10s;
    animation-timing-function:  linear;
    animation-iteration-count:  infinite; 
    animation-direction:  normal; */
    position: relative; 
}

.in, .out{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.in{
animation-name: breathIn;
    animation-duration: 10s;
    animation-timing-function:  linear;
    animation-iteration-count:  infinite; 
    animation-direction:  normal;
}

.out{
animation-name: breathOut;
    animation-duration: 10s;
    animation-timing-function:  linear;
    animation-iteration-count:  infinite; 
    animation-direction:  normal;
}

.circle{
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    animation: resize, rotate;
    animation-duration: 5s, 2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse, normal;
    animation-timing-function: ease-in-out;
    /* border-radius: 80% 90% 100% 90%; */
    border-radius: 100%;
}

@keyframes resize{
    from {
        width: 10%;
        height: 10%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes breathOut{
    0%   {opacity: 0.0;}
    15%  {opacity: 1.0;}
    35%  {opacity: 1.0;}
    50% {opacity: 0.0; }
    100% {opacity: 0.0;}
}

@keyframes breathIn{
    0%   {opacity: 0.0;}
    50%  {opacity: 0.0;}
    65%  {opacity: 1.0;}
    85% {opacity: 1.0; }
    100% {opacity: 0.0;}
}